[submodule "ot-br-posix"]
	path = ot-br-posix
	url = https://github.com/openthread/ot-br-posix
[submodule "ot-nrf528xx"]
	path = ot-nrf528xx
	url = https://github.com/openthread/ot-nrf528xx
[submodule "ot-commissioner"]
	path = ot-commissioner
	url = https://github.com/openthread/ot-commissioner
