[submodule "ot-br-posix"]
	path = ot-br-posix
	url = https://github.com/openthread/ot-br-posix
[submodule "ot-nrf528xx"]
	path = ot-nrf528xx
	url = https://github.com/openthread/ot-nrf528xx
[submodule "ot-commissioner"]
	path = ot-commissioner
	url = https://github.com/openthread/ot-commissioner
	branch = cert
[submodule "openthread"]
	path = openthread
	url = https://github.com/openthread/openthread
[submodule "docker-rpi-emu"]
	path = docker-rpi-emu
	url = https://github.com/ryankurte/docker-rpi-emu.git
[submodule "openthread-1.1"]
	path = openthread-1.1
	url = https://github.com/openthread/openthread.git
[submodule "ot-efr32"]
	path = ot-efr32
	url = https://github.com/openthread/ot-efr32
